#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  background: linear-gradient(to bottom right, #7e22ce, #2563eb);
}

* {
  font-family: Jost;
}