.GameModes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in 0.1s forwards;
}

.HomePage h1 {
    color: white;
    text-shadow: 2px 2px 2px rgb(92, 92, 92);
}

.HomePage-Profile {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
}

.HomePage-Profile img {
    width: 100px;
}

.HomePage-Profile-Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: row;
    margin-left: 20px;

}

.HomePage-Profile-Buttons button {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    background-color: #21d421;
    border: none;
    border-radius: 5px;
    color: white;
}

.HomePage-Profile-Buttons img {
    width: 30px;
}

.HomePage-Profile-Buttons button:hover {
    background-color: #1cb81c;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}